body{
    background-color: white;
}

img{
    display: flex;
    margin-left: 400px;
    
    margin-bottom: 10px;
}
input{
    
    margin-bottom: 20px;
    
}
h3{
    margin-left:250px;
    color:rgb(0, 89, 255);
}
.look{
    color:rgb(248, 68, 209);
    font-size: larger;
    display: flexbox;
    margin-left: 400px;
    border:2px solid red;
    padding:40px;
    margin-right: 400px;
    border-radius: 20px;

}
button{
    color:white;
    background-color: rgb(0, 81, 255);
}