
body{
    background-image: url("https://wallpapercave.com/wp/wp5231673.jpg");
    background-size:cover;
   background-repeat: no-repeat;  
   background-origin: content-box;  
}
        h1{
            text-align: center;
        }
        #border0{
        position: absolute;
        width: 95%;
        margin-top: 4%;
       
        }
        #border1{
            position:absolute;
            top:35%;
            left:44%;
            border: 2px solid rgb(8, 8, 8);
            width: 350px;
            height: 320px;
            border-radius: 5%;
            display: flex;
        }
        .flexbox{
            display: flex;
            
        }
    
